.body{
    background-image: url("./pictures/body.jpg");
    background-size: cover;
 }

 h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    margin-bottom: 100px!important;
    
 }
.name{
    font-size: 4rem;
    color: #dc3545;
}
.head{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    
   
}
.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 100%!important;
    
}
.welcome{
    font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: flex-start!important;
    
}
header{
   max-width: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.nav-pills{
    --bs-nav-link-color: white!important;
    --bs-nav-pills-link-active-bg: #495057!important;
}
.big-my{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

}
.myself{
    width: 50%;
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    

}
.space{
    height: 150px;
}
.my{
    color: white;
    width: 90%;
    border:white solid 5px;
    text-align:left;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(30%);

}
.my h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.my p {
    margin: 15px;
}
ol li{
    list-style: none;
  }

.port{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: white solid 5px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(30%);
   
}
.port h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 4rem;
    height: fit-content;
    text-align: left;
    margin-top: 10px;
}
.prolist{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color: white;
    gap: 30px;
}
.html-portfolio {
    width: 60%;
}
.tindog{
    width: 60%;
}
img{
    border:rgb(137, 136, 136) solid 2px;
    border-radius: 5%;
}
.third a{
    color: white;
}
.Contact{
    margin-top: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}
.Contact h2{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 3rem;
    margin-bottom: 30px;
}
.Contact .btn{
    background-color: transparent;
    font-size: 2rem;
    margin-top: 10px;
}
footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.084);
    height: 80%;
    font-size: 2rem;
  

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 50px;
    background-color: transparent;
}

@media(max-width:650px){
    .big-my{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      
    }
    .myself{
         margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        
    }
    .port{
        margin-right: 20px;
        width: fit-content;
        margin-left: 20px;
        margin-top: 40px;
        
    }
    .prolist{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .port h2{
        text-align: center;
    }
    .Contact{
        width: 90%;
        margin: 20px;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  

}